Index
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termo de Aceite</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<style> 
    .subtitle {
        border-radius: 25%;
        border-bottom-left-radius: 25%;
    }
</style>
<body>
    <!-- LADO ESQUERDO -->

        <img src="/static/npsimagem.png" id="npsimg" class="tablet-img" alt="Imagem de tablet">
    <!-- LADO DIREITO -->
    <div class="right">
        <h2 class="title">TERMO DE ACEITE E<br>ENTREGA DE SERVIÇOS</h2>
        <h3 class="subtitle">UNIDADES MÓVEIS</h3>

        <div class="buttons-container">
            <a href="/termo" class="option green-box">
    <img src="/static/check-white.png" class="icone">
    <span>Termo de aceite</span>
</a>

<a href="/ressalvas" class="option blue-box">
    <img src="/static/check-blue.png" class="icone">
    <span>Ressalva</span>
</a>

<a href="/nps" class="option orange-box">
    <img src="/static/check-orange.png" class="icone">
    <span>NPS</span>
</a>

        </div>
    </div>

    <img id="logo" src="/static/LogoFlex.png" class="logo1">

    <img id="Logo" src="/static/LogoFlex2.png" class="logo2">

    <img id="Logo3" src="/static/LogoFlex3.png" class="logo3">

</body>
<!-- ÍCONE ADMIN -->
<a href="/admin" class="admin-btn">
    <img src="/static/arrow2.png" alt="Admin">
</a>
</html>
